<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>模板</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid" id="app">
	<div class="panel panel-primary">
		<div class="panel-heading">多复选框绑定同一个值</div>
		<div class="panel-body">
			<div class="form form-inline">
		<div class="checkbox"><label><input type="checkbox" v-model="checkList" value="ming"> 小明</label></div>
		<div class="checkbox"><label><input type="checkbox" v-model="checkList" value="zhang"> 小张</label></div>
		<div class="checkbox"><label><input type="checkbox" v-model="checkList" value="wang"> 小王</label></div>
		<div>{{checkList}}</div>
			</div>
		</div>
	</div>
</div>
<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
new Vue({
	el:"#app",
	data:{
		checkList:[]
	},
	updated:function(a){
		console.log("视图发生变化")
	}
})
</script>
</body>
</html>