<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" src="http://cdn.bootcss.com/vue/2.0.7/vue.js"></script>
  </head>
  <body>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">树形数据</div>
      <div class="panel-body">
        <ul id="app" class="list-group">
          <item
            class="item"
            :model="treeData">
          </item>
        </ul>
      </div>
    </div>
  </div>
<script type="text/x-template" id="treeTemplate">
<li>
  <div @click="toggle" @dblclick="changeType">
    {{model.name}}
    <span class="glyphicon" :class="{'glyphicon-plus':!open,'glyphicon-minus':open}" v-if="isFolder"></span>
  </div>
  <ul v-show="open" v-if="isFolder">
    <item class="item" v-for="model in model.children" :model="model"></item>
    <li class="glyphicon glyphicon-plus" @click="addChild"></li>
  </ul>
</li>
</script>
<script type="text/javascript">
  var data = {
  name: 'My Tree',
  children: [
    { name: 'hello' },
    { name: 'wat' },
    {
      name: 'child folder',
      children: [
        {
          name: 'child folder',
          children: [
            { name: 'hello' },
            { name: 'wat' }
          ]
        },
        { name: 'hello' },
        { name: 'wat' },
        {
          name: 'child folder',
          children: [
            { name: 'hello' },
            { name: 'wat' }
          ]
        }
      ]
    }
  ]
}

// define the item component
Vue.component('item', {
  template: '#treeTemplate',
  props: {
    model: Object
  },
  data: function () {
    return {
      open: false
    }
  },
  computed: {
    isFolder: function () {
      return this.model.children &&
        this.model.children.length
    }
  },
  methods: {
    toggle: function () {
      if (this.isFolder) {
        this.open = !this.open
      }
    },
    changeType: function () {
      if (!this.isFolder) {
        Vue.set(this.model, 'children', [])
        this.addChild()
        this.open = true
      }
    },
    addChild: function () {
      this.model.children.push({
        name: 'new stuff'
      })
    }
  }
})

// boot up the demo
var demo = new Vue({
  el: '#app',
  data: {
    treeData: data
  }
})
</script>
  </body>
</html>
