<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" src="http://cdn.bootcss.com/vue/2.0.7/vue.js"></script>
  </head>
  <body>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">树形数据</div>
      <div class="panel-body">
        <ul id="app" class="list-group">
          <item class="list-group-item" :model="treeData"></item>
        </ul>
      </div>
    </div>
  </div>
<script type="text/x-template" id="treeTemplate">
<li>
  <div @click="toggle" @dblclick="changeType">
    {{model.name}}
    <span class="glyphicon" :class="{'glyphicon-plus':!open,'glyphicon-minus':open}" v-if="isFolder"></span>
  </div>
  <ul v-show="open" v-if="isFolder">
    <item class="list-group-item" v-for="model in model.children" :model="model"></item>
    <li class="glyphicon glyphicon-plus" @click="addChild"></li>
  </ul>
</li>
</script>
<script type="text/javascript">
  var data = {
  name: '根节点',
  children: [
    { name: '子节点1' },
    { name: '子节点2' },
    {
      name: '子节点3',
      children: [
        {
          name: '子节点3-1',
          children: [
            { name: '子节点3-1-1' },
            { name: '子节点3-1-2' }
          ]
        },
        { name: '子节点3-2' },
        { name: '子节点3-3' },
        {
          name: '子节点3-4',
          children: [
            { name: '子节点3-4-1' },
            { name: '子节点3-4-2' }
          ]
        }
      ]
    }
  ]
}

// 定义item组件
Vue.component('item', {
  template: '#treeTemplate',
  props: {
    model: {}//组件数据
  },
  data: function () {
    return {
      open: false//是否是展开状态
    }
  },
  computed: {
    isFolder: function () {//是否包含子节点
      return this.model.children && this.model.children.length
    }
  },
  methods: {
    toggle: function () {//展开或收起
        this.open = !this.open
    },
    changeType: function () {//双击叶子节点切换为包含子节点的元素
      if (!this.isFolder) {
          Vue.set(this.model, 'children', []);
          this.addChild();
          this.open = true;
      }
    },
    addChild: function () {
      this.model.children.push({//添加子节点
        name: '新建节点'
      })
    }
  }
})

var app = new Vue({
  el: '#app',
  data: {
    treeData: data
  }
})
</script>
  </body>
</html>
