<!DOCTYPE html>
<html ng-app="collectMessage">
<head lang="en">
    <meta charset="UTF-8">
    <title>双向数据绑定</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/form.js"></script>
</head>
<body>
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">
		   双向数据绑定
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<form role="form" class="form-horizontal" ng-controller="collectMessageCtrl">
					<div class="form-group">
						<label class="col-md-2 control-label">邮箱</label>
						<div class="col-md-10">
							<input type="email" class="form-control" placeholder="推荐使用126邮箱" ng-model="message.email"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">密码</label>
						<div class="col-md-10">
							<input type="password" class="form-control" placeholder="只能是数字、字母、下划线" ng-model="message.password"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="message.login" />自动登录
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<button class="btn btn-info" ng-click="getMessage()">获取数据</button>
							<button class="btn btn-info" ng-click="setMessage()">设置数据</button>
							<button class="btn btn-info" ng-click="resetMessage()">重置数据</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

</body>
</html>