<!DOCTYPE html>
<html  ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>过滤器</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
     <link rel="stylesheet" type="text/css" href="css/theme.css">
</head>
<body>
<div class="container">
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">
		   过滤器
		</div>
	</div>
	<div class="panel-body">
		<div class="form-line col-md-12">
			<div class="col-md-2">日期：</div>
			<div class="col-md-10"><input type="text" ng-model="dateFormat1" class="form-control" /></div>
		</div>
		<div class="form-line col-md-12">
			<div class="col-md-2">过滤结果：</div>
			<div class="col-md-10">{{dateFormat1 | date}}</div>
		</div>
		<div class="form-line col-md-12">
			<div class="col-md-2">日期：</div>
			<div class="col-md-10"><input type="text" ng-model="dateFormat2" class="form-control" /></div>
		</div>
		<div class="form-line col-md-12">
		<!-- 1473470600000 -->
			<div class="col-md-2">过滤结果：</div>
			<div class="col-md-10">{{dateFormat2 | date:"yyyy-MM-dd hh:mm:ss"}}</div>
		</div>
		<div class="form-line col-md-12">
			<div class="col-md-2">现金</div>
			<div class="col-md-10"><input type="text" ng-model="money" class="form-control" /></div>
		</div>
		<div class="form-line col-md-12">
		<!-- 1473470600000 -->
			<div class="col-md-2">过滤结果：</div>
			<div class="col-md-10">{{money | currency:"￥"}}</div>
		</div>

		<div class="form-line col-md-12">
			<div class="col-md-2">数字</div>
			<div class="col-md-10"><input type="text" ng-model="number" class="form-control" /></div>
		</div>
		<div class="form-line col-md-12">
			<!-- 1473470600000 -->
			<div class="col-md-2">过滤结果：</div>
			<div class="col-md-10">{{number | number:0}}</div>
		</div>

		<div class="form-line col-md-12">
			<div class="col-md-2">JSON格式化</div>
			<div class="col-md-10"><textarea ng-model="json" class="form-control" ></textarea></div>
		</div>
		<div class="form-line col-md-12">
			<!-- 1473470600000 -->
			<div class="col-md-2">过滤结果：</div>
			<div class="col-md-10"><pre>{{json | json}}</pre></div>
		</div>

		<div class="form-line col-md-12">
			<div class="col-md-2">截取</div>
			<div class="col-md-10"><input ng-model="limit" class="form-control" /></div>
		</div>
		<div class="form-line col-md-12">
			<!-- 1473470600000 -->
			<div class="col-md-2">过滤结果：</div>
			<div class="col-md-10">{{limit | limitTo:4}}</div>
		</div>
		<div class="form-line col-md-12">
			<!-- 1473470600000 -->
			<div class="col-md-2">排序结果：</div>
			<div class="col-md-10" ng-controller="sortFlights">{{flights | orderBy:'flightNo':true}}</div>
		</div>
	</div>
</div>
</div>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script>
	var app=angular.module("app",[]);
	app.controller("sortFlights",['$scope',function ($scope) {
		$scope.flights=[
			{"flightNo":100000,"lineCode":"CA"},
			{"flightNo":200000,"lineCode":"AU"},
			{"flightNo":400000,"lineCode":"MU"}
		]
	}])
</script>
</body>
</html>