<!DOCTYPE html>
<html ng-app="pageApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>折叠面板组</title>
	<link rel="stylesheet" href="app/bootstrap-3.0.0/css/bootstrap.css">
    <script type="text/javascript" src="js/angular.js"></script>
	<script src="app/ui-bootstrap-tpls-0.11.0.js"></script>
	<script type="text/javascript" src="app/accordion-ngui.js"></script>
</head>
<body>
<div class="container" ng-controller="accordionNgCtrl">
	<p>
		<button class="btn btn-default btn-md" ng-click="status.open = !status.open">交替最后一项</button>
		<button class="btn btn-default btn-md" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">启用 /禁用第一项</button>
	</p>

	<label class="checkbox">
		<input type="checkbox" ng-model="onAtTime">每次仅展开一个
	</label>
	<accordion close-others="oneAtATime">
		<accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
			This content is straight in the template.
		</accordion-group>
		<accordion-group heading="{{group.title}}" ng-repeat="group in groups">
			{{group.content}}
		</accordion-group>
		<accordion-group heading="Dynamic Body Content">
			<p>The body of the accordion group grows to fit the contents</p>
			<button class="btn btn-default btn-md" ng-click="addItem()">Add Item</button>
			<div ng-repeat="item in items">{{item}}</div>
		</accordion-group>
		<accordion-group is-open="status.open">
			<accordion-heading>
				I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			</accordion-heading>
			This is just some content to illustrate fancy headings.
		</accordion-group>
	</accordion>
</div>

</body>
</html>