<!DOCTYPE html>
<html ng-app="pageApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>表单</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
<div class="container">
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">
		   表单验证
		</div>
	</div>
	<div class="panel-body">
		<form class="form" name="collection" ng-submit="save()" ng-controller="formCtrl">
			<div class="form-group"><input name="userName" type="text" class="form-control" ng-model="user.userName" required/></div>
			<div class="form-group"><input name="password" type="password" class="form-control" ng-model="user.password" required /></div>
			<button type="submit" class="btn btn-primary" ng-disabled="collection.$invalid">提交</button>
		</form>
	</div>
</div>
</div>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="app/app.js"></script>
</body>
</html>