<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>新增行程单</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>
  <div class="container-fluid">
   <div class="panel panel-primary">
     <div class="panel-heading">行程单</div>
     <div class="panel-body">
       <form role="form" name="trip" id="trip" class="form-horizontal">
         <div class="form-group">
           <div class="col-xs-12 col-sm-4 col-md-3 form-group">
             <label for="" class="col-xs-6 control-label">行程类型：</label>
             <div class="col-xs-6">
               <select autocomplete="off" class="form-control" v-model="tripParam.tripType">
                  <option value="">全部</option>
                  <option value="OW">单程</option>
                  <option value="RT">往返</option>
                  <option value="OT">其他</option>
               </select>
             </div>
           </div>
           <div class="col-xs-12 col-sm-4 col-md-3 form-group">
             <label for="" class="col-xs-6 control-label">航空公司：</label>
             <div class="col-xs-6">
               <select class="form-control" v-model="tripParam.airLine">
                <option value="">全部</option>
                 <option value="0">东方航空</option>
                 <option value="1">南方航空</option>
               </select>
             </div>
           </div>
           <div class="col-xs-12 col-sm-4 col-md-3 form-group">
             <label for="" class="col-xs-6 control-label">舱位等级：</label>
             <div class="col-xs-6">
               <select autocomplete="off" class="form-control" v-model="tripParam.seatClass">
                  <option value="">全部</option>
                  <option value="Y">经济舱</option>
                  <option value="S">头等舱</option>
                  <option value="C">商务舱</option>
               </select>
             </div>
           </div>
         </div>
       </form>
     </div>
     <div class="panel-footer">
       <div class="btn-group pull-left hidden">
         <button class="btn btn-primary">新增</button><button class="btn btn-primary">修改</button><button class="btn btn-primary">停用</button><button class="btn btn-primary">导入</button><button class="btn btn-primary">导出</button>
       </div>
       <button class="btn btn-primary" type="button" @click="createTrip()">新增</button>
        <button class="btn btn-success" type="reset" form="trip">重置</button>
     </div>
   </div>
   <div class="panel panel-primary">
     <div class="panel-heading">
       行程单列表
     </div>
     <div class="panel-body">
       <table class="table table-bordered table-striped table-hover">
         <thead>
           <tr>
             <th>序号</th>
             <th>行程类型</th>
             <th>航空公司</th>
             <th>舱位等级</th>
             <th>操作</th>
           </tr>
         </thead>
         <tbody>
           <tr v-for="k in tripList">
            <td>{{$index+1}}</td>
            <td>{{k.tripType}}</td>
            <td>{{k.airLine}}</td>
            <td>{{k.seatClass}}</td>
            <td><button @click="deleteIndex=$index" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#deleteTripModal">删除</button></td>
           </tr>
           <tr>
             <td colspan="5" class="text-center" v-show="tripList.length==0">请添加数据！</td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
 </div>
  <script src="js/jquery.min.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://static.runoob.com/assets/vue/1.0.11/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.0.2/vue-resource.min.js"></script>
<script type="text/javascript">
$(function(){
  new Vue({
    el:"body",
    data:{
      tripList:[],
      tripParam:{
        tripType:'',
        airLine:'',
        seatClass:''
      },
      ajaxResult:{
        waitStatus:true,
        failStatus:"",
        successStatus:""
      },
      deleteIndex:''
    },
    methods:{
      createTrip:function(){
        var _this=this;
        this.ajaxResult.waitStatus=true;
        this.ajaxResult.failStatus=false;
        this.ajaxResult.successStatus=false;
        $("#modalWait").modal();
        $.ajax({
          type:"POST",
          url:"data/result.json",
          timeout:30000
        }).done(function(res){
          if(res.status!=1){
            _this.ajaxResult.failStatus=true;
            _this.ajaxResult.waitStatus=false;
            $("#modalWait").modal('show');
            return;  
          }
           _this.ajaxResult.failStatus=false;
            _this.ajaxResult.waitStatus=false;
            _this.ajaxResult.successStatus=true;
          setTimeout(function(){
              $("#modalWait").modal('hide');
              _this.tripList.push({
                tripType:_this.tripParam.tripType,
                airLine:_this.tripParam.airLine,
                seatClass:_this.tripParam.seatClass
              })
              _this.tripParam.tripType='';
              _this.tripParam.airLine='';
              _this.tripParam.seatClass='';
          },300)  
        }).fail(function(xhr,error){

        });
        
      },
      deleteTrip:function(n){
        if(n=="all"){
          this.tripList=[]
        }else{
         this.tripList.splice(n,1) 
        }
      }
    }
  })
})
</script>
<div class="modal" id="deleteTripModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button><h4 class="modal-title">删除行程</h4></div>
      <div class="modal-body">
      <div class="text-center">确定删除吗？</div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" @click="deleteTrip(deleteIndex)">确定</button>
      <button class="btn btn-default" data-dismiss="modal">取消</button>
    </div>
    </div>
  </div>
</div>
<div class="modal" id="modalWait">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button><h4 class="modal-title">系统提示</h4></div>
      <div class="modal-body">
      <div class="text-center">
      <span v-show="ajaxResult.waitStatus">请求处理中。。。。。。</span>
      <span v-show="ajaxResult.failStatus">操作失败！</span>
      <span v-show="ajaxResult.successStatus">操作成功！</span>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" data-dismiss="modal">取消</button>
    </div>
    </div>
  </div>
</div>
  </body>
</html>
