<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <script type="text/javascript" src="http://static.runoob.com/assets/vue/1.0.11/vue.min.js"></script>
  </head>
  <body>
  <div id="app">
   <p><input type="checkbox" id="online" value="在线" v-model="checkedArray"><label for="online">在线</label></p>
   <p><input type="checkbox" id="offline" value="离线" v-model="checkedArray"><label for="offline">离线</label></p>
   <p><input type="checkbox" id="appLine" value="无线" v-model="checkedArray"><label for="appLine">无线</label></p>
   <p>你选择了:{{checkedArray | json}}</p>
  </div>
<script type="text/javascript">
new Vue({
  el:"#app",
  data:{
    checkedArray:[]
  }
})
</script>
  </body>
</html>
