<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">航班查询(本地渲染)</div>
        <div class="panel-body">
        <div class="form-group text-right">
         <button class="btn btn-primary" id="loadBtn">查询</button>
        </div>
         <div class="table-responsive result" id="result">
         <table class="table table-bordered table-striped">
         <caption id="time"></caption>
             <thead>
             <tr>
                 <th>航班号</th>
                 <th>起飞机场</th>
                 <th>到达机场</th>
                 <th>起飞时间</th>
                 <th>到达时间</th>
                 <th>经停</th>
                 <th>机型</th>
                 <th>舱位</th>
                 <th>飞行时长</th>
                 <th>停留时长</th>
                 <th>签证</th>
                 <th>总价</th>
                 <th>票价</th>
                 <th>税费</th>
                 <th>票数</th>
             </tr>
             <tbody id="flightsContainer">
             <tr>
                 <td colspan="15"><div class="noResult">暂无数据！</div></td>
             </tr>
             </tbody>
             </thead>
         </table>
         </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/template.js"></script>
    <script src="/javascripts/loadData.js"></script>
  </body>
</html>

<script type="text/html" id="renderFlights">
    {{each data as D}}
    <tr>
    <td>{{D.flightNumber}}</td>
    <td>{{D.depPort}}</td>
    <td>{{D.arrPort}}</td>
    <td>{{D.depTime}}</td>
    <td>{{D.arrTime}}</td>
    <td>{{D.stop}}</td>
    <td>{{D.equipment}}</td>
    <td>{{D.cabin}}</td>
    <td>{{D.flightTime}}</td>
    <td>{{D.stopTime}}</td>
    <td>{{D.visa}}</td>
    <td>{{D.totalPrice}}</td>
    <td>{{D.ticketPrice}}</td>
    <td>{{D.taxFee}}</td>
    <td>{{D.ticketCount}}</td>
    <tr>
    {{/each}}
</script>